# See https://help.github.com/ignore-files/ for more about ignoring files.

# fonts
/src/fonts/

# book assets (packed into then-assets S3 bucket, injected at build time)
/public/books/

# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*