

.grid_bg {

}

.grid_bg > div {
    display: flex;
    flex-direction: row
}

.grid_bg > div > div {
    width: 64px;
    height: 64px;
    border-style: solid;
    border: 1px solid #eee;
    text-align: center;
    font-size: 48px;
}
