.Home-info-container{
  display: flex;
  min-height: 100vh;
}

.Home-info-container p{
  
}

.Home-info-container ol{
  list-style-type: decimal;
}

.MenuHamburger {
  position: fixed;
  right: 0;
  top:0;
  z-index: 200;
  width: 100px;
  height: 100px;
}

.Menu {
  position: fixed;
  background: white;
  transition: .5s;
  width: 100vw;
  transform:translateX(100vw);
  box-sizing: border-box;
  z-index: 100;
}

.Menu.active {
  transform: translateX(0);
}

.Menu ul {
    list-style: none;
    align-self: center;
    margin: 0 auto;
}

.Menu a {
    font-weight: bold;
    font-size: 24px;
    color: inherit;
    text-decoration: inherit;
    text-transform: capitalize;
}

