.Machine {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100vh;
}

.Machine-label {
    font-size: 8rem;
    cursor: pointer;
    user-select: none;
    font-family: 'LubalinGraphStd-Medium', serif;
    color: magenta;
}

.Machine-label--disabled {
    cursor: default;
}

.Machine-info {
    display: flex;
    gap: 2rem;
    font-size: 1.2rem;
    font-family: 'LubalinGraphStd-Medium', serif;
    color: magenta;
    opacity: 0.6;
    user-select: none;
}

.Machine-info-ip {
    user-select: text;
    cursor: copy;
    transition: color 0.1s ease, opacity 0.3s ease;
}

.Machine-info-ip--copied {
    color: white;
    opacity: 1;
    transition: color 0s, opacity 0s;
}
