.Machine {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.Machine-label {
    font-size: 8rem;
    cursor: pointer;
    user-select: none;
    font-family: 'LubalinGraphStd-Medium', serif;
    color: magenta;
}
