.Masonry {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}

.Masonry-row {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.Masonry-row::-webkit-scrollbar {
    display: none;
}


.Masonry-image {
    
}