
.Then {
    align-self: center;
    margin: 0 auto;
}

.Then .name {
    font-weight: bold;
    font-size: 240px
}

.Then .pronunciation {
    font-style: oblique;
    font-size: 32px;
    padding-top: 15px;
    padding-bottom: 15px
}

.Then .type {
    font-size: 24px;
    font-weight: bold
}

.Then ol {
    margin-top: 50px
}

.Then li {
    font-style: oblique
}

.Then p {
    font-style: normal;
    font-size: 20px
}

.underline {
    text-decoration: underline
}
